Cython==3.0.11
defusedxml==0.7.1
fonttools==4.54.1
fpdf2==2.8.1
meson==1.5.2
meson-python==0.16.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==11.0.0
pyproject-metadata==0.8.1
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.2.0
six==1.16.0
tzdata==2024.2
versioneer==0.29
wheel==0.44.0
